.cms-wrapper {
  height: calc(100vh - 5rem);
  background: rgb(0, 242, 255);
  padding: 2rem;
  
  nav {
    .cms-nav {
      display: flex;
      padding: 1rem;
      
      li {
        font-size: 24px;
        list-style-type: none;

        &:last-child {
          margin-left: 2rem;
        }

        a {
          color: black;
          text-decoration: none;
        }
      }
    }
  }
}