.events-cms-wrapper {
  display: flex;
  
  .create-event {
    width: 50%;
    
    form {
      display: flex;
      flex-direction: column;
      width: 80%;

      label {
        font-size: 24px;
        
        &:not(:first-child) {
          margin-top: .8rem;
        }

        span {
          color: red;
        }
      }

      textarea, input:not(:first-child) {
        margin-top: .5rem;
      }
      
      input, textarea {
        padding: .7rem .7rem .7rem 1.5rem;
        border-radius: 10px;
        border: 1px solid grey;
        font-size: 20px;
      }

      .cms-event-details {
        resize: none;
        height: 200px !important;
      }

      .events-submit {
        padding: .7rem;
        margin-top: .5rem;
        border-radius: 10px;;
      }
    }
  }
  
  .events-list {
    width: 50%;
  }
}